* {
    box-sizing    : 0;
    margin        : 0;
    padding       : 0;
    font-family   : roboto, sans-serif, monospace;
    font-size     : 15px;
    font-weight   : bold;
    /* border     : 1px red solid; */
}

body {
    background-color: #eff3bb;
}

.header {
    background-color: #dd2248;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    height          : 70px;
    padding         : 10px;

}

.header .logos {
    cursor: pointer;
}

.header .logos img {
    height    : 70px;
    width     : auto;
    transition: all 0.3s;
}

.header .logos img:hover {
    transform: scale(1.2);
}

.header .nav-link {
    list-style: none;
}

.header .nav-link li {
    display: inline-flex;
    padding: 0 50px;
}

.header .nav-link li:hover {
    transform: scale(1.1);
}

.header .nav-link a {
    font-size      : 200;
    color          : #eff3bb;
    text-decoration: none;
}

.header .nav-link a:hover {
    color: #080800;
}

.header .btn button {
    font-weight  : 500;
    color        : #1b3039;
    padding      : 5px 10px;
    background   : #eff3bb;
    border       : none;
    border-radius: 50px;
    cursor       : pointer;
    transition   : all 0.3s ease;
}

.header .btn button:hover {
    background-color: #eff3bb;
    color           : #080800;
    transform       : scale(1.1);
}

/* :::::::::::::::::::::PORTADA :::::::::::::::::::::: */

main {
    max-width: 100%;

}

#hero {
    background-color: #000000;
    opacity         : 0.5;
    padding         : 90px;
    margin          : 20px auto;
    display         : flex;
    align-items     : center;
    justify-content : center;
    border-radius   : 13px;

}

.hero-info {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    gap            : 40px;
    margin         : 40px;


}

.hero-info h2 {
    font-family: @import url('https://fonts.cdnfonts.com/css/batman-forever');
    color      : #ecf38c;
    font-size  : 35px;

}

.hero-info p {
    color             : #eff3bb;
    font-size         : 15px;
    /* padding        : 10px 80px;
    margin            : 60px 150px;
    display           : flex;
    justify-content   : center; */

}

.info-adicional {

    display        : flex;
    align-items    : center;
    justify-content: center;

}

.logo-hero img {
    height    : 150px;
    transition: all 0.3s;
    margin    : 20px 200px;
}

.logo-hero img:hover {
    transform : scale(1.2);
    transition: all 0.3s ease;
}


.info-adicional a {
    font-weight      : 200;
    text-decoration  : none;
    color            : #fafafa;
    padding          : 6px 25px;
    margin           : 20px 40px;
    background       : #000000;
    border-radius    : 10px;
    cursor           : pointer;
    display          : flex;
    justify-content  : center;
    /*transition     : all 0.3s ease 0s;*/
}

.info-adicional a:hover {
    background-color: #ecf38c;
    color           : #000000;
    transform       : scale(1.2);
    transition      : all 0.3s ease 0s;
    font-size       : 15px
}

/* ::::::::INFO::::::::: */

.hero-cards {
    color          : #eff3bb;
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-content  : center;
    padding        : 150px 50px;
    border-radius  : 20px;
    gap            : 10px;
    margin         : auto 30px;
}

.hero-container h1 {
    color          : #dd2248;
    font-weight    : bolder;
    font-size      : 30px;
    padding        : 20px 50px;
    display        : flex;
    justify-content: center;
    gap            : 10px;
    margin         : 35px;

}

.hero-container p {
    font-size      : 8px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    gap            : 10px;

}

.mejores-hero,
.mejores-hero2,
.mejores-hero3 {
    background-color   : #3f3b3b;
    /* opacity         : 0.5; */
    border-radius      : 10px;
    display            : flex;
    flex-direction     : column;
    justify-content    : center;
    align-items        : center;
    gap                : 10px;
    margin             : 5px 35px;

}

/* .mejores-hero p {
    font-size      : 8px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    gap            : 10px;


} */

.hero-cards img {
    margin         : 10px;
    height         : 150px;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    border-radius  : 5px;

}


.selector a {
    font-size       : 15px;
    background-color: #2c2c2e;
    color           : #eff3bb;
    border          : 2px #000000 solid;
    padding         : 5px;
    text-decoration : none;
    border-radius   : 5px;

}


/* ::::::::CIERRE INFO::::::::: */

/* :::::::FOOTEER::::: */

.footer {
    background-color: #424141;
    margin          : 0px 0px;
    padding         : 0px auto;
    display         : flex;
    align-items     : center;
    flex-direction  : row-reverse;
    justify-content : space-around;


}

.footer-links {
    margin         : 0px;
    padding        : 0px;
    font-size      : 20px;
    gap            : 10px;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;

}

.footer-links li {
    gap       : 5px;
    list-style: none;
    margin    : 0px;
    padding   : 20px;
}

.footer-links li:hover {

    transform: scale(1.1);
}

.footer-links a:hover {
    color: #dd2248;
}

.footer-links a {
    color          : #ecf38c;
    text-decoration: none;
    gap            : 10px;
    display        : flex;
    justify-content: start;
    padding        : 0px 0px;

}

.foto-pie img {
    padding      : 20px;
    border-radius: 30px;
    border       : 5px #dd2248;

}

.fa-brands {
    color        : teal;
    border-radius: 5px;
}

.bottom-redes {
    background-color: #424141;
    color           : #f2f1f7;
    padding         : 0px 0px;
    display         : flex;
    justify-content : center;

}

.bottom-redes a {
    margin: auto 10px;
}

.copyriht {
    color    : #ecf38c;
    font-size: 8px;

}

/* 
.mejores-hero {
    background-color: #000000;
    opacity         : 0.5;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;




}

.mejores-hero h3 {

    color    : #ecf38c;
    font-size: 35px;



}


.mejores-hero p {
    font-family: @import url('https://fonts.cdnfonts.com/css/batman-forever');
    color      : #ecf38c;
    font-size  : 15px;

} */